/*-----nav, body styling and links-----*/

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0 15px;
    background-color: rgba(34, 55, 100, 0.993);
}

.header-title {
    color: white;
}

ul {
    list-style-type: none;
    display: inline-flex;
    margin-left: auto;
    justify-content: space-between;
    font-size: 15px;
    gap: 25px;
}

a {
    text-decoration: none;
    color: rgb(182, 197, 207);
    font-weight: bold;
    display: flex;
    flex: 1;
}

a:hover {
    color: rgb(255, 255, 255);
}

a:active {
    color: rgb(217, 255, 0);
}


/*-----main content-----*/

.main-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
}

.first {
    display: flex;
    flex: 1;
    flex-direction: row;
    background-color: rgba(34, 55, 100, 0.993);
    justify-content: center;
}

.first-flex {
    display: flex;
    padding: 15px;
    width: 800px;
    gap: 15px;
}

.second {
    display: flex;
    flex-direction: row;
    width: 800px;
    padding: 15px;
    gap: 15px;
    margin: auto;
    background-color: white;
}

.second-items {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.second-squares {
    display: flex;
    flex: 1;
    flex-direction: row;
    gap: 15px;
}

.square {
    height: 100px;
    width: 100px;
    border: 10px;
    border-color: blue;
    background-color: rgb(68, 141, 170);
    border-radius: 8px;
}

.second-text {
    display: flex;
    flex: 1;
    gap: 15px;
}

.third {
    background-color: rgba(34, 55, 100, 0.993);
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding: 50px 15px;
}

.third-text {
    width: 500px;
}

.fourth {
    background-color: white;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

.fourth-box {
    display: flex;
    flex-wrap: wrap;
    flex: 1 -1 0%;
    height: 100px;
    width: 500px;
    background-color: rgb(34, 141, 212);
    padding: 30px;
    gap: 35px;
    align-items: center;
    border-radius: 8px;
}

.fourth-box button {
    margin-left: auto;
    height: 50px;
    background-color: rgba(34, 55, 100, 0.993);
}

.footer {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    background-color: rgba(116, 116, 116, 0.993);
}

.footer-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-items: center;
    height: 100px;
}

/*-----main content font/buttons-----*/

.first p, h1 {
    color: white;
}

.second h1 {
    color: rgba(34, 55, 100, 0.993);
}

.second p {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(41, 41, 41, 0.993);
}

.third p {
    font-family: 'Times New Roman', Times, serif;
    width: 500px;
    text-align: left;
    color: white;
    font-style: italic;
}

.third h3 {
    text-align: right;
    color: white;
}

.fourth-text {
    color: white;
}

.footer p {
    font-size: 12px;
    color: white;
}

button {
    background-color: rgb(0, 134, 223);
    text-align: center;
    color: white;
    padding: 8px 20px;
    font-family: serif;
    font-size: 30px;
    font-style: italic;
    border-radius: 15px;
    border: none;
}

button:hover {
    background-color: green;
    transition: 0.5s;
}