body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
}

ul {
    list-style-type: none;
    display: inline-flex;
    margin-left: auto;
    align-content: center;
    gap: 15px;

}